@forward 'slider';
@forward 'banners';
@forward 'navegacion';
@forward 'testimoniales';
@forward 'servicios';
@forward 'utilidades';
@forward 'footer';
@forward 'login';
@forward 'propiedadSeleccionada';
@forward 'blog';