@use '../custom' as *;

.testimoniales{

    .testimonial{
        border-radius: 2rem;
        
        img{
            border-radius: 2rem;
            // width: 150px !important;
            // height: 140px !important;
        }
        blockquote{
            text-align: justify;
            font-size: 1.4rem;
        }
    }
}