//CSS PARA EL FILTRO DE PROPIEDADES Y CITAS
.filtro{
    max-width: 100%;
    border: 4px solid $blanco;
    border-radius: 2rem;
    padding: 2rem;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    select,input{
        width: 70%;
        margin: 0.1rem auto;
        font-size: 1.4rem;
        text-align: center;
        color: $blanco;
        background-color: $azul;
        border-radius: 6px;
        border: 2px solid $azul-intenso;
        &:hover{
            color: $negro;
            background-color: $blanco;
            cursor: pointer;
        }
    }
    
    input[type="submit"]{
        display: inline !important;
        margin: auto !important;
    }
    @include desktop{
        flex-direction: row;
        justify-content: space-between;
        max-width: 90%;
        select,input{
            width: auto;
        }
        .input-buscador{
            width: 15rem;
            background-color: $blanco;
            color: $negro;
        }
    }
}