//clases para los formularios del lado del admministrador
.formulario{
    fieldset, .dosColumnas{
        margin: 1rem auto;
        background-color: $blanco-gris;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;
        legend{
            font-weight: $bold;
        }
        div{
            width: 100%;
            margin: 0.6rem auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            input{
                padding: 1rem;
                border-radius: 1rem;
                border: none;
            }
            label,input{
                width: 100%;

                margin: auto;
            }
            p{
                color: red;
                font-size: 1.2rem;
                text-align: start;
            }
        }
        
        .opciones{
            display: grid;
            div{
                padding: 1rem;
                display: grid;
                grid-template-columns: 20% 80%;
                border: 2px solid $blanco;
                border-radius: 0.5rem;
                input{
                    width: 2rem;
                    height: auto;
                    margin-right: 2rem;
                }
                label{
                    text-align: center;
                    margin: auto;
                    line-height: 2rem;
                }
            }
            @include grid(2,0.5rem);
           
            @include tablet{
                @include grid(4,0.5rem);
            }
        }
        
    }
    fieldset + .dosColumnas{
        @include tablet{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 2rem;
        }
    }
    button{
        width: auto;
        height: auto;
        padding: 1rem;
        font-size: 2rem;
        display: block;
        margin: auto;
    }
    select{
        padding: 1rem 0;
        border: 1px solid rgb(165, 164, 164);
        border-radius: 1rem;
        background-color: $blanco;
    }
}

.login{
    margin: 5.2rem 0;
    input[type="submit"]{
        padding: 1rem;
    }
}

.login-plantilla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

form{
    input[type="submit"]{
        color: $blanco;
        font-size: 1.6rem;
        display: block;
        height: auto;
        padding: 1rem;
        margin: auto;
    }
}

.enlace-login{
    a{
        color: $negro;
        margin: auto;
        text-align: center;
        display: block;
        width: 50%;
    }
}

.descripcion-pagina{
    text-align: center;
}