@use '../custom' as *;
// //clases para los formularios del lado del admministrador

.login{
    margin: 5.2rem 0;
    input[type="submit"]{
        padding: 1rem;
    }
}

.login-plantilla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.enlace-login{
    a{
        color: $negro;
        margin: auto;
        text-align: center;
        display: block;
        width: 50%;
    }
}

.descripcion-pagina{
    text-align: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ocultar{
    display: none !important;
}