@use '../custom' as *;
// cuadricula y diseño para los agentes y vendedores tanto grupal como individual

.trabajadores{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    .trabajador{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
        border-radius: 0.5rem;
        border: 1px solid $gris;
        height: 100%;
        
        transition: all 300ms ease;
        &:hover{
            transform: scale(1.05);
        }
        p{
            text-align: center;
            line-height: 1.8rem;
            font-size: 1.2rem;
        }
    }
    @include media-breakpoint-up(md){
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(3, 1fr);
        .trabajador{
            p{
                font-size: 1.6rem;
            }
        }
    }
}

.confirmar-cuenta{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}