//CSS PARA LA PAGINA DE VENTA DE PROPIEDAD
.info-propiedad-venta{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
    margin-top: 2rem;
    div{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.8rem;
        p{
            background-color: $blanco;
            padding: 0.5rem;
            border-radius: 0.8rem;
        }
        label{
            font-size: 1rem;
        }
    }
    @include tablet{
        div{
            label{
                font-size: 1.4rem;
            }
        }
    }
}

.aviso-venta{
    background-color: $rojo;
    padding: 1rem;
    border-radius: 2rem;
    color: $blanco;
    text-align: center;
}

