//CODIGO DE DISEÑO DE LA PAGINA INDIVIDUAL PARA LOS ARTICULOS DEL BLOG
.imagen-articulo{
    background-position: center center;
    background-size: cover;
    height: 34rem;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        color: $blanco;
        text-shadow: $negro 0.2rem 0.1rem 0.2rem;
        font-weight: $delgada;
        padding: 0;
        font-size: 4.2rem;
        @include tablet{
            font-size: 8rem;
        }
    }
}

.articulos-blog{
    margin: 3rem auto;
    width: 92%;

    @include tablet{
        @include grid(2,2rem);
    }
}

.info-articulo{
    max-width: 80%;
    margin: 4rem auto;
    h1{
        text-align: start;
        font-size: 6rem;
        margin: 0;
    }
    .buton{
        margin-bottom: 2rem;
    }
    
    @include tablet{
        p{
            font-size: 2.4rem;
        }
    }
}