.esquema-contacto{
    border: 1px solid brow;

    @include tablet{
        display: grid;
        grid-template-columns: 45% 55%;
        // gap: 2rem;
    
    }
}

.esquema-maps{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    iframe{
        width: 90%;
        height: 30rem;
        @include tablet{
            height: 90%;
        }
    }
}

.divisor-contacto{
    width: 90%;
    height: 4px;
}

.div-formulario-contacto{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

//estilos del iframe del maps
.contacto-maps{
    border-radius: 16px;
    max-width: 600px;
}