.esquema-contacto{

    @include tablet{
        display: grid;
        grid-template-columns: 45% 55%;
        // gap: 2rem;
    
    }
}

.div-formulario-contacto{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}