//DISEÑO PARA EL TEXTO Y LA IMAGEN DE FUNDADOR EN LA PAGINA DE CONTACTO

.fundadores{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .fundador{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 2rem;
        gap: 2rem;
            img{
                max-width: 300px;
                max-height: 400px;
             margin: 1rem auto;
            }
        p{
            margin: 1rem auto;
            text-align: justify;
            font-size: 1.4rem;
        }
        @include tablet{
            p{
                margin: auto;
            }
            img{
                margin: auto;
            }
        }
    }    
}
