//DISEÑO GENERAL PARA EL LISTADO DE SERVICIOS Y BLOG

.servicios{
    width: 80%;
    margin: auto;
    a{
        .imagen-texto{
            img{
                height: 35rem !important;
                object-fit: cover;
            }
            p{
                font-size: 2rem;
                font-style: italic;
                text-align: center;
                text-transform: uppercase;
            }
        }
        transition: all 0.6s ease;
        &:hover{
            transform: scale(1.05);
        }
    }
    @include tablet{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 4rem;
        width: 90%;
        a{
            .imagen-texto{
                p{
                    font-size: 3.4rem;
                }
            }
        }
    }
}

//DISEÑO PARA LA IMAGEN EN LAS LISTAS DE BLOG Y SERVICIOS
.imagen-servicio, .imagen-blog{
    width: 95%;
    margin: auto;
    border-radius: 1rem;
    img{
        border-radius: 1rem;
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    @include tablet{
        width: 90%;
        img{
            height: 60rem;
        }
    }
}
//CAMBIOS EN EL TAMAÑO DE LA IMAGEN PARA EL BLOG
.imagen-blog{
    @include tablet{
        img{
            height: 20rem;
        }
    }
}

// diseño individual del servicio
.info-servicio{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    h1{
        text-transform: uppercase;
    }
    .texto-servicio{
        margin: 2rem 4rem;
    }
    .boton{
        display: inline-block;
        margin: 0 auto;
        padding: 0.5rem 3rem;
    }
}