html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $fuente_principal;
    font-size: 1.6rem;
    line-height: 1.8;
    background-color: $blanco;

    &.fijar-body{
        overflow: hidden;
    }
}
p {
    color: $negro;
    font-size: 1.6rem;
    text-align: justify;
    font-weight: $delgada;
}
.contenedor {
    width: 95%;
    max-width: 130rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: $fuente_principal;
    margin: $separacion / 4 0;
    font-weight: $regular;
    text-align: center;
    color: $dorado;
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.4rem;
}