// Estilos de botones
.boton-principal{
    background-color: $azul-secundario;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 250ms ease;
    &:hover{
        background-color: $blanco;
        color: $azul-secundario;
        border: 1px solid $azul-secundario;
        cursor: pointer;
    }
}

//Linea para resaltar titulos
hr{
    border-radius: 8px;
    height: 4px;
    background-color: $azul-secundario;
}

//Estilo de imagenes que tienen texto lateral
.imagenes-texto-lateral{
    border-radius: 40px;
}

.btn-more{
    width: 100%;
    padding: 0.5rem;
}


.icono-more{
    background-color: $azul-secundario;
    border-radius: 50% !important;
    height: 5.2rem !important;
    width: 5.2rem !important;
    padding: 0.3rem 0.2rem;
    margin: auto;
    transition: all 0.25s ease;
    img{
        filter: invert(100%);
    }
    &:hover{
        border: 2px solid $azul-secundario;
        transform: scale(1.2);
        background-color: $blanco;
        img{
            filter: invert(0%);
        }
    }
}


//Estilos del texto y hr de los inmuebles
.texto-principal-2{
    text-align: center;
    margin-top: 4rem;
    width: 70%;
    margin: 0 auto;
    color: $dorado;
}

.divisior{
    width: 100% !important;
}

.hr-inmuebles{
    width: 80%;
    color: $azul-secundario;
    margin-top: 30px !important;
    margin-bottom: 60px !important;
}