//colores
$azulUno: #022D36;
$azulDos: #1F456E;
$blanco: #FFFFFF;
$dorado: #D39F2F;

$primary: $azulUno;
$secondary: $azulDos;

$headings-font-family: 'Poppins',sans-serif;
$font-family-sans-serif: 'Poppins',sans-serif;
$headings-font-weight: 700;
$font-size-root:62.5%;
$h1-font-size: 4.5rem;
$h2-font-size: 3.6rem;
$h3-font-size: 3rem;
$font-size-base: 1.8rem;


//espaciado
$spacer: 5rem;

//importanto boostrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';